/*--- GLOBAL ---*/

/*Reset de los estilos default de algunas etiquetas HTML*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body,
body * {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: 100ms ease-in;
    color: var(--main-text-color);
}
ol,
ul {
    list-style: none;
}

body {
    background-color: var(--main-bg);
    align-items: center;
}
/*--- END OF GLOBAL ---*/

/*--- GENERAL ---*/

.flx-r,
.flx-c {
    display: flex;
}
.flx-r {
    flex-direction: row;
}
.flx-c {
    flex-direction: column;
}

/*--- END OF GENERAL ---*/

/*--- HOME / HEADER ---*/
header {
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--header-color-border);
}
header .container {
    justify-content: space-between;
    height: 64px;
    width: 90%;
    max-width: 1200px;
    background-color: var(--main-bg);
}

/*Left side*/

header .nav-left {
    align-items: center;
    gap: 30px;
}

header .nav-left .logo {
    align-items: center;
    gap: 8px;
    text-decoration: none;
}
header .nav-left .logo img {
    width: 24px;
}
header .nav-left .logo span {
    font-size: 16px;
    color: var(--main-text-color);
    font-weight: 600;
}

header .nav-left .search {
    align-items: center;
    gap: 6px;
    background-color: var(--main-bg-alt);
    color: var(--main-text-color);
    padding: 8px 10px;
    border: 1px solid var(--main-bg-alt);
    border-radius: 8px;
    cursor: pointer;
}
header .nav-left .search:hover {
    border-color: var(--accent-1);
}
header .nav-left .search * {
    font-size: 13px;
    font-weight: 500;
	opacity: 0.6;
}
header .nav-left .search .search-i {
    mask: var(--search-i);
    mask-size: 100% 100%;
    width: 13px;
    height: 13px;
    background-color: var(--main-text-color);
}
header .nav-left .search .search-hotkey {
    padding: 2px 4px;
    border: 1px solid var(--main-text-color-alt);
    border-radius: 3px;
}

/* Right side*/

header .nav-right {
    align-items: stretch;
}

header .nav-right > *:not(:last-child){
	padding-right: 20px;
}
header .nav-right .separator-w{
	align-items: center;
}
header .nav-right .separator-w > .separator{
	width: 1px;
	height: 25px;
	background-color: var(--header-color-border);
}

.nav-right nav {
	align-items: stretch;
    gap: 20px;
}
.nav-right a, .nav-right .dropdown-w{
	display: flex;
	align-items: center;
    text-decoration: none;
	cursor: pointer;
}
.nav-right .dropdown-w{
	position: relative;
}
.nav-right .dropdown-w > span{
	display: flex;
}
.nav-right .dropdown-w > span::after{
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
	display: block;
	width: 13px;
	margin: 3px 0 0 3px;
	transform: rotate(90deg);
}

.nav-right nav > a:hover,
.nav-right .dropdown-w:hover > span {
    opacity: 0.7;
}

/*Dropdown style*/

.nav-right .nav-dropdown {
	position: absolute;
    opacity: 0;
	top: calc(100% - 10px);
	min-width: 150px;
	padding: 12px;
	background-color: var(--main-bg);
	border: 1px solid var(--header-color-border);
	border-radius: 12px;
	box-shadow: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08)
}
.nav-right .dropdown-w:hover > span + .nav-dropdown{
	opacity: 1;
}
.nav-right .nav-dropdown a{
	padding: 8px 10px;
	background-color: var(--main-bg);
	border-radius: 6px;
	transition: all 40ms ease-in;
}
.nav-right .nav-dropdown a:not(.active):hover{
	background-color: var(--main-bg-alt);
	color: var(--accent-1);
}
.nav-right .nav-dropdown .nav-dw-s2{
	border-top: 1px solid var(--header-color-border);
	margin-top: 10px;
	padding-top: 10px;
}

/*Blank link icons*/

.nav-right .blank-link a:not(.active)::after{
	content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
	width: 11px;
	margin: 2px 0 0 4px;
	opacity: 0.4;
}
.nav-right .blank-link a.active{
	font-weight: 700;
}

/*Lang nav and social nav*/
header .lang svg, header .social-icons svg{
	width: 16px;
	fill: var(--main-text-color);
	margin-top: 3px;
}

header .social-icons{
	gap: 12px;
}
header .social-icons a:hover svg{
	fill: var(--main-text-color-alt);
}

/*--- END OF HOME / HEADER ---*/
