:root{
    --white-c: #FFFFFF;
    --grey-1: #F6F6F6;
    --grey-2: #EBEBEB;
    --dark-c: #202127;
    --accent-1: #646CFF;
    --accent-2: #DB2777;
    --accent-3: #56B6FF;
    --accent-4: #BD34FE;
}